.App {
  text-align: center;
}


.bingo-box{
  line-height: 110px;
  height: 130px;
  text-align: center;
  font-size: 65px;
  color: white;
  background-color: #3A84E8; 
}

.bingo-box-blank{
  line-height: 110px;
  height: 130px;
  text-align: center;
  font-size: 65px;
  color: #606060;
  background-color: #404040; 
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
